body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 40px;
}

input, button {
  padding: 12px;
  margin: 8px;
  width: 80%;
}

button {
  background: #f5c400;
  border: none;
  font-weight: bold;
}

#credencial {
  width: 280px;
  margin: 40px auto;
}

#foto {
  width: 140px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#estado {
  margin-top: 15px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}
